<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
     <link rel="stylesheet" href='style.css'>
    <style>
        .center{
display:flex;
justify-content:center;
}
.a{
margin:15px;
}
.b{
display:flex;
}
    </style>
</head>
<body>
<h1 class="center">Admin login page</h1>
<div class="center">
    <form action="/data"  method="POST">
    <p>Username</p>
  <input type="text" name="username" placeholder="Username">

   <p>Password</p>

  <input type="password" name="password" placeholder="Password">

  <br>
        <div class="center a">
             <input type="submit">

        </div>


</form>

</div>
</body>
</html>