
<!DOCTYPE html>
<html lang="en">

<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MEGAMIND</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{url_for('static',filename='img/mind_icon.png')}}" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css' )}}" rel="stylesheet">
    <link href="{{url_for('static',filename='vendor/icofont/icofont.min.css' )}}" rel="stylesheet">
    <link href="{{url_for('static',filename='vendor/boxicons/css/boxicons.min.css' )}}" rel="stylesheet">
    <link href="{{url_for('static',filename='vendor/remixicon/remixicon.css' )}}" rel="stylesheet">
    <link href="{{url_for('static',filename='vendor/owl.carousel/assets/owl.carousel.min.css' )}}" rel="stylesheet">
    <link href="{{url_for('static',filename='vendor/animate.css/animate.min.css' )}}" rel="stylesheet">
    <link href="{{url_for('static',filename='vendor/aos/aos.css' )}}" rel="stylesheet">




    <!-- Template Main CSS File -->
    <link href="{{url_for('static',filename='css/style.css' )}}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Mentor - v2.2.1
    * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

       <script>

var hours = 1; // to clear the localStorage after 1 hour(if someone want to clear after 8hrs simply change hours=8)
var now = new Date().getTime();
var setupTime = localStorage.getItem('setupTime');
if (setupTime == null) {
    localStorage.setItem('setupTime', now)
} else {
    if(now-setupTime > hours*60*60*1000) {
        localStorage.clear()
        localStorage.setItem('setupTime', now);
    }
}
    </script>


</head>
<style>
    .list-group{
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
    }
    h3{
    text-align:center;
    margin-top:100px;
    }
    .btn-sm btn-danger{
    margin-right:60px;
    }

</style>
<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="/about">Megamind</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        <a href="/courses" class="get-started-btn">Get Started</a>
        <a href="/logout" class="get-started-btn">LogOut</a>
    </div>
</header><!-- End Header -->

<h3>section list</h3>
<ul class="list-group">
    <div class="dropdown">
        {%   for item in data  %}
       <li class="list-group-item" data-toggle="collapse" href="#collapseExample{{loop.index}}" role="button" aria-expanded="false" aria-controls="collapseExample" >{{item}} <a href="/Form" class="btn-sm btn-danger float-right " tabindex="-1" role="button"
                                      aria-disabled="true">Add section</a></li>
        <div class="collapse" id="collapseExample{{loop.index}}">
         <div class="card card-body">
             {%   for subitem in data2   %}
    <li class="list-group-item">{{subitem}}</li>
             {%  endfor  %}
          </div>
     </div>
     {%  endfor  %}
    </div>

</ul>
</body>
</html>
