{% extends "layout.html" %}

{% block body %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>KALFUN ( Online or Offline )</h2>
            <p>The Kalfun Maths Tools For Addition And Subtraction.</p>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8">
                    <img src="{{url_for('static',filename='img/c-img/kalfun.jpg')}}" class="img-fluid" alt="">
                    <h3>KALFUN ( Online or Offline )</h3>
                    <p>
                        <strong>The Kalfun Maths Tools</strong> For Addition And Subtraction Is A Simple
                        Educational Device Specially Designed With Patented Features For
                        Early Use By Children From Pre-Kg To U-Kg
                    </p>
                </div>
                <div class="col-lg-4">
                    {% for item in items %}
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>{{ item['title'] }}  :  {{ item['desc'] }}</h5>
                    </div>
                {% endfor %}
                    <div class="align-self-center mx-auto">
                        <a href="/contact" class="btn btn-warning " tabindex="-1" role="button"
                           aria-disabled="true" style="margin-left: 35px">Enroll Now</a>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Cource Details Section -->

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#tab-1">Purpose Of Tool</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2">Kalfun Features</a>
                        </li>

                        <br>
                        <li class="nav-item">
                            <div class="align-self-center mx-auto">
                                <a href="/contact" class="btn btn-warning " tabindex="-1" role="button"
                                   aria-disabled="true" style="margin-left: 35px">Enroll Now</a>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>The Purposes Of The Tool Are To Help Children</h3>

                                    <p>* Learn And Develop A Strong Numbers Sense <br>
                                        * Recognize Patterns And Relationships Among Numbers <br>
                                        * Enhance Memory And Mental Skill Through Building Concepts.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-1.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Kalfun Features</h3>

                                    <p>The Colorful And Student Friendly Device Presents The
                                        Numbers Sequence On Slidable And Rotatable Blocks That
                                        Serve As The Reckoning Slide On The Top Row And
                                        Provides A Set Of Movable Blocks On The Bottom Slide
                                        That Are Aligned Neatly With Blocks On The Top Row In
                                        The Matching Colour To Help With Counting And Solving
                                        Problems.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-2.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Cource Details Tabs Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{% endblock %}