{% extends "layout.html" %}

{% block body %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>MONTESSORI TEACHER TRAINING COURSE</h2>
            <p><strong>MEGA MIND</strong> is a premier Phonics teacher training institute conducting an ideal course for those who are interested in Montessori Teaching.
            </p>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8">
                    <img src="{{url_for('static',filename='img/c-img/training.jpg')}}" class="img-fluid" alt="">
                    <h3>MONTESSORI TEACHER TRAINING CERTIFICATE DIPLOMA COURSE</h3>
                    <p>
                        <strong>Montessori training</strong> is a transformative journey that deepens one's understanding of the potential of children and their ability to transform the world.
                        Dr. Maria Montessori gave special consideration to the formative psychic powers of the young child,
                        which lead to all round development in early childhood development (ECE and ECD).

                    </p>
                    <h3>THOSE WHO WISH TO START CAREER AS MONTESSORI TEACHER</h3>
                    <p>
                        This is an ideal course for those who are interested in Montessori Teaching.
                        The course material is designed to understand and implement the technology of Montessori.
                        As there is a large demand for trained Montessori in India.

                    </p>
                </div>
                <div class="col-lg-4">
                    <h3>Benefits of MTT Course</h3>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Flexible curriculum.</h5>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Help to arrange an cohesive and scientific environment which aids in self-learning.</h5>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Allows to teach at own pace, scientific method of teaching, reality orientated and specific materials – (sense of order).</h5>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Preferences on activities according to inner need of the children.</h5>

                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Development of child-centered learning environment, self-education through self-correction methods.</h5>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Recognition of sensitive periods in each child.</h5>
                    </div>

                     <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Focus on developing the play materials for non-specific skills and multi-sensory materials to develop a specific skill.</h5>
                    </div>

                     <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Dig up the benefits of yoga, mindfulness and nourishment in to the children.</h5>
                    </div>

                    <div class="align-self-center mx-auto">
                        <a href="/contact" class="btn btn-warning " tabindex="-1" role="button"
                           aria-disabled="true" style="margin-left: 35px">Enroll Now</a>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Cource Details Section -->

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#tab-1">Teachers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2">About the course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3">Course Details</a>
                        </li>

                        <br>
                        <li class="nav-item">
                            <div class="align-self-center mx-auto">
                                <a href="/contact" class="btn btn-warning " tabindex="-1" role="button"
                                   aria-disabled="true" style="margin-left: 35px">Enroll Now</a>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Recommended for Teachers</h3>

                                    <p> This course is recommended to all experienced teachers of young children who wish to gain insight into the best way to individualize their teaching curriculum,
                                        so that children of mixed abilities may work at their own pace.
                                        Teachers consider this course as an up-gradation, and implemented the Montessori methodology in the conventional schools.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-1.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Welcome to Montessori Teacher Training Course</h3>
                                    <p>Course is mainly focused on the concepts of Montessori principles, such as 'the absorbent mind,
                                        sensitive periods and the child tendencies, the subconscious power, which guide the child in self-construction and freedom to learn on its own within a structured environment.
                                        Dr. Maria Montessori described childhood as a process in which a hidden but definite plan of nature unfolds as the child works to create the adult personality.
 </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-2.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>MTT Course Details</h3>
                                    <p> <strong>COURSE NAME –</strong> CERTIFICATE IN MONTESSORI TEACHERS TRAINING <br>
                                        <strong>ENTRY REQUIREMENTS - </strong>HIGH SCHOOL / GRADUATE<br>
                                         <strong>COURSE LENGTH –</strong> 6 Months<br>
                                         <strong>DELIVERY METHOD - </strong>ONLINE/DOWNLOAD</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-3.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Cource Details Tabs Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{% endblock %}