{% extends "layout.html" %}

{% block body %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>PHONICS TEACHERS' TRAINING PROGRAMME</h2>
            <p><strong>MEGA MIND</strong> is a premier Phonics teacher training institute conducting a Phonics Programme
            </p>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8">
                    <img src="{{url_for('static',filename='img/c-img/phonics.jpg')}}" class="img-fluid" alt="">
                    <h3>PHONICS TEACHERS' TRAINING PROGRAMME</h3>
                    <p>
                        <strong>MEGA MIND</strong> is a premier Phonics teacher training institute conducting a Phonics
                        Programme following the popular UK based Synthetic Phonics Teaching and Learning
                        Methodology. It offers aspirants an opportunity to learn directly from our expert
                        phonics trainers, to attend exhaustive interactive lectures, to witness live
                        demonstrations of the sounds and their actions, participate in the entire skill learning
                        process, undergo ample practice and get their doubts cleared by the faculty.
                        All in all, <strong>Phonics Teacher Training</strong> gives a wholesome learning experience. And
                        choosing VES to do so can be your most intelligent choice as it would be a career defining
                        decision.
                    </p>
                </div>
                <div class="col-lg-4">

                    {% for item in items %}
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>{{ item['title'] }}  :  {{ item['desc'] }}</h5>
                    </div>
                {% endfor %}

                    <div class="align-self-center mx-auto">
                        <a href="/contact" class="btn btn-warning " tabindex="-1" role="button"
                           aria-disabled="true" style="margin-left: 35px">Enroll Now</a>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Cource Details Section -->

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#tab-1">Phonics Sounds</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2">Course Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3">Need Of Phonics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-4">Some More Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-5">Our Authorized Trainers</a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <div class="align-self-center mx-auto">
                                <a href="/contact" class="btn btn-warning " tabindex="-1" role="button"
                                   aria-disabled="true" style="margin-left: 35px">Enroll Now</a>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>What does Phonics mean?</h3>
                                    <p class="font-italic">Phonics is a branch of linguistics where the sounds and
                                        physical
                                        properties of human speech sounds are studied. Simply put, it is a system of
                                        relationships between letters and sounds in a language.
                                        Phonics is an effective tool and a multi-sensory method to teach young children
                                        to read
                                        and spell as they are taught to link an individual letter or letter combination
                                        with its
                                        appropriate sound and then blend the sounds to form words. The goal of phonics
                                        is to
                                        enable 'beginning readers' i.e. young pre-scholars’ to decode new written words
                                        by
                                        sounding them out so that they are able to read and spell well.

                                    </p>
                                    <p>All in all, phonics makes it much easier for the children to acquire, learn and
                                        master literacy skills of reading, writing and spelling. Not only these, we must
                                        understand that children who are able to communicate
                                        ably in English are bound to perform well in their academics because they can
                                        use English as a means to read more.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-1.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Course Features</h3>
                                    <p class="font-italic"><strong>Vedic Maths</strong> is very easy to understand and
                                        practice.</p>
                                    <p><strong>Phonics is appropriate for young children because, as a method,
                                        it:</strong> <br>
                                        * Does not rely on memorizing words, which children may find very difficult.
                                        <br>
                                        * Is fun, as use of activities, worksheets, games etc. Is made to enhance
                                        learning.
                                        <br>
                                        * Research shows that phonics is the most effective way of teaching young
                                        children to read, write and spell. It is particularly helpful for children at
                                        the pre-primary and primary levels. As a teaching method it is thought to
                                        provide many
                                        benefits to children who are just beginning to learn the English language. <br>
                                        * Is impactful, as it employs a multi-sensory approach; multiple intelligences
                                        like auditory, visual, kinesthetic ability of children are put to use.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-2.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Welcome to The Phonics world</h3>
                                    <p class="font-italic">We understand the importance of Speaking fluent and flawless
                                        English in today's
                                        competitive world. A world filled with Global opportunity. A child with a good
                                        personality and great command over the communication skills have more secure
                                        future having competitive edge.</p>
                                    <p><strong>Phonics</strong> is a technique developed to impart knowledge through the
                                        medium of sound,
                                        pictures and stories. Action based learning technique where the kids will learn
                                        the
                                        English
                                        Language in very fun and effective manner which will help them to move ahead in
                                        life.
                                        At Phonics World we provide Phonics training to Adults like Mothers, Working
                                        Women,
                                        Professional teachers, Trainers, Nursery Teachers. We are focused on providing
                                        high-quality training service and satisfaction - we will do everything we can to
                                        meet your
                                        expectations.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-3.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Phonics also Includes</h3>

                                    <p>* Phonics helps kids to Decipher words on their own<br>
                                        * Learn new words and build up their vocabulary<br>
                                        * Improve their independent writing ability<br>
                                        * Regular interaction with trainers to understand and resolve their day to day queries<br>
                                        * You will always be able to get in touch with us via Telephone No. WhatsApp
                                        chats, emails, etc.<br>
                                        * Play way teaching Method for kids.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-4.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-5">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Authorized Trainers</h3>

                                    <p>* Miss Sharwari Gaopande ( Pune - +91 7709716714 )<br>
                                        * Jyoti Dhakani ( Mumbai - +91 7020793705 <br>
                                        Also Expertise as Kalfun & Handwriting Trainer
                                        )<br>

                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-4.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Cource Details Tabs Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{% endblock %}