{% extends "layout.html" %}

{% block body %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Indian Vedic Mathematics</h2>
            <p>Vedic Mathematics cultivates an interest in numbers and eliminates the maths phobia.</p>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8">
                    <img src="{{url_for('static',filename='img/c-img/Vedic Maths.png')}}" class="img-fluid" alt="">
                    <h3>INDIAN VEDIC MATHS ( Online or Offline )</h3>
                    <p>
                        <strong>"Mega Mind"</strong> offer complete detailed Vedic Maths course online and offline which
                        is a
                        compilation of tricks that help in solving mathematical calculations quite easily. We
                        offers students the opportunity to learn different but interesting, easier and faster
                        methods to do maths. Vedic Maths Training provided by Mega mind trainers helps the
                        learners to develop innovative mathematics skills and invent their methods instead of
                        using a predefined method for solving a puzzle.
                        <strong>Vedic Maths</strong> offline classes include an in-depth study of Vedic Maths Sutras.
                        Total
                        duration of Vedic Mathematics course is 10 hours per level and it is valid across India.
                        It can also be considered as an added qualification while applying for any teaching job.
                    </p>
                </div>
                <div class="col-lg-4">

                    {% for item in items %}
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>{{ item['title'] }}  :  {{ item['desc'] }}</h5>

                    </div>

                {% endfor %}



                    <div class="align-self-center mx-auto">
                        <a href="/contact" class="btn btn-warning " tabindex="-1" role="button"
                           aria-disabled="true" style="margin-left: 35px">Enroll Now</a>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Cource Details Section -->

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#tab-1">Teacher Training</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2">Course Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3">Franchise Benefits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-4">Some More Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-5">Our Authorized Trainers</a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <div class="align-self-center mx-auto">
                                <a href="/contact" class="btn btn-warning " tabindex="-1" role="button"
                                   aria-disabled="true" style="margin-left: 35px">Enroll Now</a>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Vedic Maths Teacher Training Program</h3>
                                    <p class="font-italic"><strong>"Mega Mind"</strong> provides perfect platform for
                                        Vedic Maths Teacher
                                        Training that includes
                                        all level training that can also be useful to grab lifetime business opportunity
                                        by
                                        opening their educational training institutes or by working with prestigious
                                        educational
                                        organizations. With a pocket-friendly investment in the certification course,
                                        anyone
                                        can become a certified professional and get recognition in the society.
                                    </p>
                                    <p>* <strong>Lifetime business opportunity by opening their own educational training
                                        institutes or by working with prestigious educational organizations as a
                                        teacher <br>
                                        * Teachers: Will be able to train students for entrance exams which require
                                        speed
                                        in various exams like GRE, GMAT, SAT, MAT etc. Helps in personal improvement
                                        too</strong></p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-1.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Course Features</h3>
                                    <p class="font-italic"><strong>Vedic Maths</strong> is very easy to understand and
                                        practice.</p>
                                    <p>* Vedic Mathematics cultivates an interest in numbers and eliminates the maths
                                        phobia. <br>
                                        * Any type of complex and critical multiplication or division can be done with
                                        simplicity <br>
                                        * High-Speed Vedic Mathematics is 10 to 15 times faster than conventional Maths
                                        <br>
                                        * This certification has not only helped students but also helped in generating
                                        self employment <br>
                                        * Above 200+ Topics covered in vedic maths teacher training</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-2.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Service provide to Franchise</h3>
                                    <p class="font-italic"><strong>"Mega Mind"</strong> provides perfect platform for
                                        Vedic Maths Teacher
                                        Training that includes all level training that can also be useful to grab
                                        lifetime business opportunity
                                        by opening their educational training institutes</p>
                                    <p>* Lowest vedic maths teacher training fees <br>
                                        * no royalty charges, only kits<br>
                                        * Franchise cost :- as per your requirements. (taluka, district, region)<br>
                                        * Well planned online training program through small videos<br>
                                        * Effortless & Technology Assisted Learning for trainers<br>
                                        * we provide practice worksheets to get expertise on the subject</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-3.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Mega Mind Also Provides</h3>

                                    <p>* Door step service for all study material and Abacus tools required<br>
                                        * Marketing & Development support after course completion<br>
                                        * Enquiries coming from your area/region will be forwarded to you.<br>
                                        * Regular interaction with trainers to understand and resolve their day to day
                                        queries<br>
                                        * You will always be able to get in touch with us via Telephone No. WhatsApp
                                        chats, emails, etc.<br>
                                        * Play way teaching Method for kids.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-4.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-5">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Authorized Trainers</h3>
                                    <p class="font-italic"><strong>"Mega Mind"</strong> provides perfect platform for
                                        Vedic Maths Teacher
                                        Training that includes all level training that can also be useful to grab
                                        lifetime business opportunity
                                        by opening their educational training institutes</p>
                                    <p>* Mrs. Avinash Kulkarni ( Nashik - +91 9766348161 )<br>
                                        *  Mrs. Priya Wakode ( Nagpur - +91 8698682619 )<br>
                                        * Mrs. Vidhya Deokar ( Nagpur - +91 9623551020)<br>
                                        * Mrs. Shilpa Dandale ( Amravati - +91 9975670582 )<br></p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{{url_for('static',filename='img/course-details-tab-3.png' )}}" alt=""
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Cource Details Tabs Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{% endblock %}