{% extends "layout.html" %}

{% block body %}

<main id="main" data-aos="fade-in">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>Courses</h2>
            <p>Choose from Many Options including Courses and Training Programmes to Accelerate your Career.</p>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                {% for item in items %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="{{ item.S3_file_url }}" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>{{ item.title }}</h4>
                            </div>
                            <h3><a href="/course-details">{{ item.overview }}</a></h3>
                            <p>{{ item.desc }}</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="align-self-center mx-auto">
                                    <a href="/{{ item.title }}" class="btn btn-warning" tabindex="-1" role="button"
                                       aria-disabled="true">More Info</a>
                                    <a href="/Enroll Now" class="btn btn-warning" tabindex="-1" role="button"
                                       aria-disabled="true" style="margin-left: 35px">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->
                {% endfor %}
            </div>
        </div>
    </section><!-- End Courses Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{% endblock %}
